# ML Ops Project:  "Polarity & Subjectivity of CNN Articles"

    - Rich Poole, richpoole@uchicago.edu
    - Nov 29, 2020

- load json monthly file
- combine into common data file
- create "Polarity" & "Subjectivity" columns
- save combined data set with new columns
- Pivot Analysis of Polarity & Subjectivity

In [1]:
import sys
print(sys.version)

3.8.2 (default, Mar 26 2020, 10:43:30)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [51]:
#import modules
import pandas as pd
import re
import pickle
import numpy as np
from datetime import datetime as dt

In [3]:
#!pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 2.3 MB/s eta 0:00:01
Collecting nltk>=3.1
  Downloading nltk-3.5.zip (1.4 MB)
     |████████████████████████████████| 1.4 MB 4.2 MB/s eta 0:00:01     |███████████████                 | 675 kB 4.2 MB/s eta 0:00:01
Collecting click
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 581 kB/s eta 0:00:01
Requirement already satisfied: joblib in /Users/richpoole/opt/anaconda3/envs/tf231/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Collecting regex
  Downloading regex-2020.11.13-cp38-cp38-macosx_10_9_x86_64.whl (284 kB)
     |████████████████████████████████| 284 kB 1.6 MB/s eta 0:00:01
Requirement already satisfied: tqdm in /Users/richpoole/opt/anaconda3/envs/tf231/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.49.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.5-py3-none-any.whl size=1434672 sha256=2d6b019c7cb8e7a1a70c8d6541ab39983db5a7298d915c5103b704c8ffb1149a
  Stored in directory: /Users/richpoole/Library/Caches/pip/wheels/ff/d5/7b/f1fb4e1e1603b2f01c2424dd60fbcc50c12ef918bafc44b155
Successfully built nltk
Installing collected packages: click, regex, nltk, textblob
Successfully installed click-7.1.2 nltk-3.5 regex-2020.11.13 textblob-0.15.3

In [3]:
from textblob import TextBlob

## <font color='blue'>Load json files & combine</font>

In [18]:
oct20 = pd.read_json('CNN/articles/cnn_scrape-2020-10.jsonl', lines=True)
nov20 = pd.read_json('CNN/articles/cnn_scrape-2020-11.jsonl', lines=True)
oct20.shape, nov20.shape

((3771, 10), (3123, 10))

In [29]:
data = pd.concat([oct20,nov20], ignore_index=True)
data.shape

(6894, 10)

In [30]:
data.head()

,unique_id,title,body,crawl_date,published_date,language,url,url_short,site_category,source
0,c413e26928f3fda81fa2ad0a80da5e0e,Bruce Springsteen narrates new Biden ad about ...,Joe Biden's presidential campaign will air a n...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/bruce-...,www.cnn.com,politics,scrapy
1,40a4fa11b93b6df52140d97112e3b9fd,Federal judge sets hearing Monday on challenge...,A federal judge set a hearing for Monday morni...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/texas-...,www.cnn.com,politics,scrapy
2,597675f2fc58b0fb731725ec1ac8ae5a,A New Orleans police officer on patrol in the ...,A New Orleans police officer was shot in the f...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/30/us/new-orleans-...,www.cnn.com,news,scrapy
3,b6c83b9b03cb3d38dbe444afb39b505d,All eyes should be on the Senate,But even as enormous attention is trained on ...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/opinions/all-ey...,www.cnn.com,news,scrapy
4,fe46cbdd867e181c848c1385ac45cfe7,NHL's Coyotes sever ties with top draft pick w...,The Arizona Coyotes announced Thursday that th...,2020-11-29-20:36:34,2020-10-30,english,https://www.cnn.com/2020/10/29/us/coyotes-mitc...,www.cnn.com,news,scrapy

In [31]:
data.dtypes

unique_id         object
title             object
body              object
crawl_date        object
published_date    object
language          object
url               object
url_short         object
site_category     object
source            object
dtype: object

## Polarity of articles - example

In [32]:
data.body[0]

'Joe Biden\'s presidential campaign will air a new campaign ad featuring Bruce Springsteen during Saturday night\'s nationally televised game between Ohio State and Penn State on ABC, a Biden aide told CNN. The 60-second ad -- titled " " and featuring Springsteen\'s song "My Hometown" from his 1984 album "Born In The U.S.A." -- includes the Boss touting Biden\'s ties to Scranton, Pennsylvania, the former vice president\'s hometown. "Scranton, Pennsylvania. Here, success isn\'t handed down," Springsteen says in the ad hoping to appeal to working class voters. "It\'s forged with sweat, grit, and determination. This is his hometown." The ad alludes to the ongoing Covid-19 pandemic, showing footage of Biden, first responders and restaurant workers all with masks.  "In Scranton, good times aren\'t promised, but here and in towns across America, times are harder than they ought to be. Lives on pause, dreams on hold, futures in doubt," Springsteen says.  The ad also features Biden walking up to his childhood home in Scranton. "(Biden\'s) running to change that, to give working people the shot they deserve. An honest living for honest work and a little peace of mind at the end of the day. Because this place stays with him, these streets are part of him. This is more than where he\'s from, it is who he is for," Springsteen says. The campaign did not disclose how much was spent on Saturday night\'s spot. This is the latest in a series of ads the Biden campaign has placed in the closing weeks of the campaign on some of the most popular real estate in television. The campaign also aired ads during National Football League games and the MLB World Series, including an ad narrated by   and '

In [33]:
TextBlob(data.body[0]).polarity

0.22333200425305685

In [34]:
TextBlob(data.body[0]).subjectivity

0.4461456671982988

## <font color='blue'>Create Polarity & Subjectivity Columns</font>

In [35]:
%time data['polarity'] = data['body'].apply(lambda x: TextBlob(x).polarity)

CPU times: user 30.1 s, sys: 381 ms, total: 30.5 s
Wall time: 35.6 s

In [36]:
%time data['subjectivity'] = data['body'].apply(lambda x: TextBlob(x).subjectivity)

CPU times: user 33.2 s, sys: 481 ms, total: 33.7 s
Wall time: 49.6 s

In [37]:
data.head()

,unique_id,title,body,crawl_date,published_date,language,url,url_short,site_category,source,polarity,subjectivity
0,c413e26928f3fda81fa2ad0a80da5e0e,Bruce Springsteen narrates new Biden ad about ...,Joe Biden's presidential campaign will air a n...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/bruce-...,www.cnn.com,politics,scrapy,0.223332,0.446146
1,40a4fa11b93b6df52140d97112e3b9fd,Federal judge sets hearing Monday on challenge...,A federal judge set a hearing for Monday morni...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/texas-...,www.cnn.com,politics,scrapy,0.072855,0.301693
2,597675f2fc58b0fb731725ec1ac8ae5a,A New Orleans police officer on patrol in the ...,A New Orleans police officer was shot in the f...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/30/us/new-orleans-...,www.cnn.com,news,scrapy,0.004590,0.236542
3,b6c83b9b03cb3d38dbe444afb39b505d,All eyes should be on the Senate,But even as enormous attention is trained on ...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/opinions/all-ey...,www.cnn.com,news,scrapy,0.102459,0.473698
4,fe46cbdd867e181c848c1385ac45cfe7,NHL's Coyotes sever ties with top draft pick w...,The Arizona Coyotes announced Thursday that th...,2020-11-29-20:36:34,2020-10-30,english,https://www.cnn.com/2020/10/29/us/coyotes-mitc...,www.cnn.com,news,scrapy,0.045887,0.396316

## <font color='blue'> Create Month & Year columns</font>

In [62]:
data['year']  = data['published_date'].apply(lambda x: dt.strptime(x,'%Y-%m-%d').year)
data['month'] = data['published_date'].apply(lambda x: dt.strptime(x,'%Y-%m-%d').month)

In [63]:
data.head()

,unique_id,title,body,crawl_date,published_date,language,url,url_short,site_category,source,polarity,subjectivity,year,month
0,c413e26928f3fda81fa2ad0a80da5e0e,Bruce Springsteen narrates new Biden ad about ...,Joe Biden's presidential campaign will air a n...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/bruce-...,www.cnn.com,politics,scrapy,0.223332,0.446146,2020,10
1,40a4fa11b93b6df52140d97112e3b9fd,Federal judge sets hearing Monday on challenge...,A federal judge set a hearing for Monday morni...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/politics/texas-...,www.cnn.com,politics,scrapy,0.072855,0.301693,2020,10
2,597675f2fc58b0fb731725ec1ac8ae5a,A New Orleans police officer on patrol in the ...,A New Orleans police officer was shot in the f...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/30/us/new-orleans-...,www.cnn.com,news,scrapy,0.004590,0.236542,2020,10
3,b6c83b9b03cb3d38dbe444afb39b505d,All eyes should be on the Senate,But even as enormous attention is trained on ...,2020-11-29-20:36:34,2020-10-31,english,https://www.cnn.com/2020/10/31/opinions/all-ey...,www.cnn.com,news,scrapy,0.102459,0.473698,2020,10
4,fe46cbdd867e181c848c1385ac45cfe7,NHL's Coyotes sever ties with top draft pick w...,The Arizona Coyotes announced Thursday that th...,2020-11-29-20:36:34,2020-10-30,english,https://www.cnn.com/2020/10/29/us/coyotes-mitc...,www.cnn.com,news,scrapy,0.045887,0.396316,2020,10

In [69]:
data.describe()

          polarity  subjectivity         year        month
count  6894.000000   6894.000000  6894.000000  6894.000000
mean      0.074105      0.359331  2019.856832    10.324920
std       0.074714      0.163133     0.959025     0.982819
min      -0.350000      0.000000  2013.000000     1.000000
25%       0.007693      0.336018  2020.000000    10.000000
50%       0.072369      0.407046  2020.000000    10.000000
75%       0.120351      0.458206  2020.000000    11.000000
max       0.566667      1.000000  2020.000000    12.000000

## <font color='blue'>Save Updated File</font>

In [65]:
data.to_json('CNN/cnn_oct20-nov20.jsonl', orient='records', lines=True)

## <font color='blue'> PIVOT Values by Category </font>

In [66]:
agg_func_p_math = {
    'polarity':
    ['mean','median','min','max','std','var']
}
data.groupby(['site_category']).agg(agg_func_p_math).round(4)

              polarity
                  mean  median     min     max     std     var
site_category
business        0.0902  0.0906 -0.2430  0.3741  0.0680  0.0046
entertainment   0.1385  0.1352 -0.1652  0.5667  0.0957  0.0092
health          0.0935  0.0929 -0.1723  0.2335  0.0567  0.0032
news            0.0746  0.0746 -0.3500  0.4596  0.0802  0.0064
politics        0.0824  0.0816 -0.3500  0.5000  0.0612  0.0038
travel          0.1105  0.1088  0.0005  0.2588  0.0645  0.0042

In [67]:
agg_func_s_math = {
    'subjectivity':
    ['mean','median','min','max','std','var']
}
data.groupby(['site_category']).agg(agg_func_s_math).round(4)

              subjectivity
                      mean  median     min     max     std     var
site_category
business            0.4149  0.4123  0.0000  0.6920  0.0689  0.0047
entertainment       0.4529  0.4628  0.1250  0.8471  0.0947  0.0090
health              0.4448  0.4432  0.2475  0.6539  0.0573  0.0033
news                0.4070  0.4164  0.0000  0.7000  0.0964  0.0093
politics            0.4120  0.4182  0.0000  1.0000  0.0822  0.0068
travel              0.4251  0.4310  0.2738  0.5715  0.0713  0.0051

In [78]:
data.month[data['month']==11].count()

3004

## Comparison between Oct20 & Nov20

In [79]:
agg_func_p_math = {
    'polarity':
    ['mean','median','min','max','std','var']
}

data[(data['month']==10)|(data['month']==11)].groupby(['month','site_category']).agg(agg_func_p_math).round(4)

                    polarity
                        mean  median     min     max     std     var
month site_category
10    business        0.0853  0.0857 -0.2430  0.3741  0.0692  0.0048
      entertainment   0.1412  0.1306 -0.0700  0.5667  0.0986  0.0097
      health          0.0862  0.0874 -0.1535  0.2335  0.0566  0.0032
      news            0.0693  0.0712 -0.3500  0.3738  0.0768  0.0059
      politics        0.0780  0.0788 -0.3500  0.2889  0.0594  0.0035
      travel          0.1085  0.1059  0.0088  0.2588  0.0654  0.0043
11    business        0.0962  0.0946 -0.1515  0.3683  0.0663  0.0044
      entertainment   0.1353  0.1365 -0.1652  0.3960  0.0922  0.0085
      health          0.1023  0.1039 -0.1723  0.2268  0.0559  0.0031
      news            0.0784  0.0770 -0.2667  0.3665  0.0805  0.0065
      politics        0.0894  0.0863 -0.1258  0.5000  0.0625  0.0039
      travel          0.1099  0.1045  0.0005  0.2407  0.0659  0.0043

In [80]:
agg_func_s_math = {
    'subjectivity':
    ['mean','median','min','max','std','var']
}

data[(data['month']==10)|(data['month']==11)].groupby(['month','site_category']).agg(agg_func_s_math).round(4)

                    subjectivity
                            mean  median     min     max     std     var
month site_category
10    business            0.4137  0.4112  0.1278  0.6627  0.0671  0.0045
      entertainment       0.4464  0.4559  0.1250  0.6863  0.0978  0.0096
      health              0.4408  0.4417  0.2475  0.5754  0.0563  0.0032
      news                0.4094  0.4185  0.0000  0.6568  0.0947  0.0090
      politics            0.4136  0.4176  0.0000  1.0000  0.0778  0.0060
      travel              0.4165  0.4353  0.2738  0.5564  0.0754  0.0057
11    business            0.4178  0.4150  0.0000  0.6920  0.0707  0.0050
      entertainment       0.4609  0.4687  0.2125  0.8471  0.0903  0.0082
      health              0.4502  0.4440  0.2846  0.6539  0.0580  0.0034
      news                0.4107  0.4223  0.0000  0.6959  0.0992  0.0098
      politics            0.4132  0.4194  0.0000  0.9000  0.0855  0.0073
      travel              0.4321  0.4163  0.2989  0.5715  0.0697  0.0049